#back_img {
    height: 520px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:darkgreen;
    color: white;
    font-size: 16px;
    padding: 12px 41px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#btn:hover {
    background-color:darkolivegreen;
  }
  #btn1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:darkgreen;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#btn1:hover {
    background-color:darkolivegreen;
  }

#user{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
#insert{
    position: absolute;
    top: 30%;
    left: 50%;  
    margin-left:18%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    
}
