#back_img {
    height: 520px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* .main{
    background-image: url("https://images.ctfassets.net/j95d1p8hsuun/6clz3zM5N8vwE3onEbKbrz/51558d14fde4ea4e94b1213e66499d1f/NW-about-mob.png");
    
    border:none;  
} */
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    }
      
     